<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1f4b2953-c84f-4fd4-95d1-90a67c632552" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3c199a07-b773-442c-a0c9-ec5d206344ea">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="8a125ece-1f8d-4ec6-acc0-3108ca159a13" SortOrder="0">servicePage</ContentType>
    <ContentType Key="f0cbcf76-d93f-4954-aeb1-e20cc8b4d164" SortOrder="1">contactPage</ContentType>
    <ContentType Key="fd4934f1-8b5a-47b6-a31e-4d0fad418a0c" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ca8a9a7d-43c9-467f-ab6f-f53b4a01b763</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>961015eb-779e-41fe-b6d6-29dae6ba5c8c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>63f51f7f-f6ac-4042-88fe-25e30df91e6e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>