<?xml version="1.0" encoding="utf-8"?>
<Content Key="387f45ad-0413-4e85-accc-0d0320e55169" Alias="2025-12-07 17:48 - Jocke" Level="2">
  <Info>
    <Parent Key="24551d5d-b584-4c04-bbf1-aa5705d928e7">Form Submissions</Parent>
    <Path>/FormSubmissions/Jocke</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-12-07T17:48:37</CreateDate>
    <NodeName Default="2025-12-07 17:48 - Jocke" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jjoacim@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jocke]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Risk Management]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0734091347]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>