<?xml version="1.0" encoding="utf-8"?>
<Content Key="52119bd1-5c3d-4d84-ad11-d8442807ec38" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="72206f9a-fdcf-47c5-8cfe-7adb2cf8beb1">Services</Parent>
    <Path>/Onatrix/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-29T09:18:31</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="abde4e0d-5487-446b-b1ac-3d9d941b7f86">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailImage>
      <Value><![CDATA[[
  {
    "key": "6d670950-2ec6-4e0a-a9b2-045565dad717",
    "mediaKey": "366a51ae-0964-4389-a242-eed9e56303de",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailImage>
    <serviceDetailText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailText>
  </Properties>
</Content>