<?xml version="1.0" encoding="utf-8"?>
<Content Key="32008a24-c309-456f-847d-dd6e8b1095cd" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="72206f9a-fdcf-47c5-8cfe-7adb2cf8beb1">Services</Parent>
    <Path>/Onatrix/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-29T09:18:50</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="abde4e0d-5487-446b-b1ac-3d9d941b7f86">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailImage>
      <Value><![CDATA[[
  {
    "key": "6c4aab1a-2a71-43e9-93af-d2ae35ca651a",
    "mediaKey": "889d76a4-e22e-47bb-99bd-45dc6a617dd3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailImage>
    <serviceDetailText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailText>
  </Properties>
</Content>