<?xml version="1.0" encoding="utf-8"?>
<Content Key="811ac3e2-39d0-45e6-b04f-8595c928ca48" Alias="Contact" Level="2">
  <Info>
    <Parent Key="83e305fb-4e32-4f4a-80a7-8366da4d7bd6">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-30T12:25:42</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0cc5b82b-c724-4bb6-81eb-88d8ac2e3871">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7d4a4f69-6af0-4dd3-b849-419550f6f986",
      "key": "80e3a90d-5a20-4350-8851-c7f495edd468",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELet us know about your next project\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "titleLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "titlePhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "titleEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "afcdfbe1-4e34-44f8-82e5-76c1add831f7",
              "mediaKey": "c17733d8-7628-4e16-b270-f06294317b37",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "bgImage1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4151997b-3040-4101-884c-c37c3498afdf",
              "mediaKey": "0acd66b5-e49f-400e-bfa0-4f79d4ba7497",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "locationIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "bfca12b8-14ef-4072-bb31-b5976bea1e4f",
              "mediaKey": "421859ca-fd6a-4a03-b350-5a274c7be575",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "phoneIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c7f1ab5a-61e0-4de2-8406-3470b1eeb6e2",
              "mediaKey": "4de05ffb-aabd-4338-afa9-ad5636d63ac3",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "emailIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a0b977cb-8124-4c79-9629-50465f49c003",
              "mediaKey": "3197a2e5-8382-441b-ae75-f218eb991616",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "7d68e96e-3f5d-4f45-a335-33fe820e573d",
      "key": "100dbde7-eb09-49a6-8143-70f553cb4e0b",
      "udi": null,
      "values": [
        {
          "alias": "formLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "formTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-md md:text-rte-lg font-bold\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ELet us know about your next project\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "formDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus"
        },
        {
          "alias": "bgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "bb445375-acd2-4a13-a918-c44c8e7c4920",
              "mediaKey": "264b24e0-5df8-4b50-9cdd-32217ffc9bc2",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "779b2a53-b388-4dc0-9247-ece4b1508685",
      "key": "d936b771-a29d-4c8d-bc59-31fbe9bff13b",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "599aa5d8-762e-4f6d-a57d-e60ab81771fa",
      "key": "1e7adc12-e8d8-4258-8a45-068bccc2ff91",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "80e3a90d-5a20-4350-8851-c7f495edd468",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "100dbde7-eb09-49a6-8143-70f553cb4e0b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d936b771-a29d-4c8d-bc59-31fbe9bff13b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "80e3a90d-5a20-4350-8851-c7f495edd468",
        "contentUdi": null,
        "settingsKey": "1e7adc12-e8d8-4258-8a45-068bccc2ff91",
        "settingsUdi": null
      },
      {
        "contentKey": "100dbde7-eb09-49a6-8143-70f553cb4e0b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d936b771-a29d-4c8d-bc59-31fbe9bff13b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>