<?xml version="1.0" encoding="utf-8"?>
<Content Key="f34f8870-dd02-4e78-82d5-09b09f2f5927" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="72206f9a-fdcf-47c5-8cfe-7adb2cf8beb1">Services</Parent>
    <Path>/Onatrix/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-29T09:17:50</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="abde4e0d-5487-446b-b1ac-3d9d941b7f86">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailImage>
      <Value><![CDATA[[
  {
    "key": "dd6e1987-a854-4da1-9953-201064324b51",
    "mediaKey": "8188b714-9bd3-4011-bed6-d0cec23f67d3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailImage>
    <serviceDetailText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailText>
  </Properties>
</Content>