<?xml version="1.0" encoding="utf-8"?>
<Content Key="83e305fb-4e32-4f4a-80a7-8366da4d7bd6" Alias="Onatrix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Onatrix</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-27T16:20:45</CreateDate>
    <NodeName Default="Onatrix" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3c199a07-b773-442c-a0c9-ec5d206344ea">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "14ed2f14-60a7-4103-91f3-b9a7dffe6fe4",
      "key": "c3e111c7-cdc3-42ed-a939-35eb6d7cbbea",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "297cf751-bf66-4ca0-861b-9f88dd26d97e",
              "mediaKey": "951bdbfd-a9b4-4dc0-b429-2ead6cafdc38",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact us",
              "target": null,
              "udi": "umb://document/811ac3e239d045e6b04f8595c928ca48",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "1eab56f9-8720-42e4-8633-767a3551a81e",
      "key": "babf29c6-0e36-47f5-80b2-c63f09c7eca6",
      "udi": null,
      "values": [
        {
          "alias": "label",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ABOUT US"
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-md md:text-rte-lg font-bold\u0022 style=\u0022text-align: left;\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EWe have 40 years experience\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "formTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "formText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat"
        },
        {
          "alias": "quoteText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D"
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium."
        },
        {
          "alias": "signatureText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tina Fox - CEO \u0026 Founder"
        },
        {
          "alias": "signatureImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "83723be9-9d3b-4ca7-89dd-09aac7dae949",
              "mediaKey": "90cc9471-dfe0-45bf-bfe5-9ef9790ef9d5",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "3d70396b-26bb-404a-b510-226f8bd39646",
      "key": "c265244e-1d0b-4913-b285-b15be76c5fe0",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-md md:text-rte-lg font-bold\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EWe Provide The Solutions \u003Cbr\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "5279b074-6e45-47d6-afc2-66e5a5a26d8c",
      "key": "0bb03381-199b-413e-ac10-691e8ad6f5f2",
      "udi": null,
      "values": [
        {
          "alias": "chooseUsTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-md md:text-rte-lg font-bold\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EWe are trusted by more than\u003C/span\u003E\u003Cbr\u003E\u003Cspan class=\u0022text-secondary\u0022\u003E4.000\u002B clients\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "chooseUsDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed."
        },
        {
          "alias": "chooseUsImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d740193b-5388-4617-832c-731ee5ad3b49",
              "mediaKey": "0514bafd-556a-4711-9578-55dc14799d51",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7c246087-8c87-4f54-bd04-8ff9ec53cb5a",
              "mediaKey": "fd1fd3e1-65ea-4054-a105-c7b017fc055b",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "chooseUsLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Read our story",
              "target": null,
              "udi": "umb://document/d36d61d6f66b4dd0be468d1a48d2f3e6",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "38914e9a-2f31-4e18-b78d-3498443fd059",
      "key": "de009827-ad8a-4ced-846c-959e43d5004b",
      "udi": null,
      "values": [
        {
          "alias": "successStoryLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUCCESS STORIES"
        },
        {
          "alias": "successStoryTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success story"
        },
        {
          "alias": "customersCount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "689"
        },
        {
          "alias": "customersCountText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "More than 100 customers has been served"
        },
        {
          "alias": "projectsCount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "370"
        },
        {
          "alias": "projectsCountText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "More than 370 projects has been completed"
        },
        {
          "alias": "branchesCount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "125"
        },
        {
          "alias": "branchesCountText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "More than 125 branches has been established in Europe and America"
        },
        {
          "alias": "successStoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "71b7cf28-de9e-47ac-b149-1501f528107b",
              "mediaKey": "d1abda53-51e8-4d6b-ac19-c5a73b4f1e28",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3a00887d-9dd0-4ef2-9240-834082a1466a",
              "mediaKey": "259b0b8d-810d-4a02-8748-442290b738db",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "779b2a53-b388-4dc0-9247-ece4b1508685",
      "key": "ff6817c8-cdbf-420b-bbf8-50942c5bafa8",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "dcf42f16-1cfe-4d59-b38a-7cd044f578a3",
      "key": "9f8b130e-de79-40be-b5c4-5f39c27efb94",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "gray-light",
            "value": "#F7F7F7"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "c3e111c7-cdc3-42ed-a939-35eb6d7cbbea",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "babf29c6-0e36-47f5-80b2-c63f09c7eca6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c265244e-1d0b-4913-b285-b15be76c5fe0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0bb03381-199b-413e-ac10-691e8ad6f5f2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "de009827-ad8a-4ced-846c-959e43d5004b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ff6817c8-cdbf-420b-bbf8-50942c5bafa8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c3e111c7-cdc3-42ed-a939-35eb6d7cbbea",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "babf29c6-0e36-47f5-80b2-c63f09c7eca6",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "c265244e-1d0b-4913-b285-b15be76c5fe0",
        "contentUdi": null,
        "settingsKey": "9f8b130e-de79-40be-b5c4-5f39c27efb94",
        "settingsUdi": null
      },
      {
        "contentKey": "0bb03381-199b-413e-ac10-691e8ad6f5f2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "de009827-ad8a-4ced-846c-959e43d5004b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ff6817c8-cdbf-420b-bbf8-50942c5bafa8",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>