<?xml version="1.0" encoding="utf-8"?>
<Content Key="72206f9a-fdcf-47c5-8cfe-7adb2cf8beb1" Alias="Services" Level="2">
  <Info>
    <Parent Key="83e305fb-4e32-4f4a-80a7-8366da4d7bd6">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-29T09:07:54</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4627c648-ea46-474b-96d9-d97ede318586">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3d70396b-26bb-404a-b510-226f8bd39646",
      "key": "b130a289-49ca-410f-8038-e1c284e6a9ae",
      "udi": null,
      "values": [
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        }
      ]
    },
    {
      "contentTypeKey": "7d4a4f69-6af0-4dd3-b849-419550f6f986",
      "key": "d1345b0f-2d8f-40fd-beed-7947e56ee50d",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELet us know about your next project\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "titleLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "titlePhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "titleEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "locationIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b3e2fc49-ca9b-435d-a0df-ceaa621240dc",
              "mediaKey": "421859ca-fd6a-4a03-b350-5a274c7be575",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "phoneIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "87a0d131-fcf6-43db-a63b-7be07647683f",
              "mediaKey": "4de05ffb-aabd-4338-afa9-ad5636d63ac3",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "emailIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ed09bd91-9108-4a77-a17c-b16495d79ec0",
              "mediaKey": "3197a2e5-8382-441b-ae75-f218eb991616",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f74cba52-a057-4306-9fc2-3ddb2d10c21c",
              "mediaKey": "c17733d8-7628-4e16-b270-f06294317b37",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "bgImage1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a1a58d1b-45ad-4318-8ee9-94177dc9a90d",
              "mediaKey": "0acd66b5-e49f-400e-bfa0-4f79d4ba7497",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "dcf42f16-1cfe-4d59-b38a-7cd044f578a3",
      "key": "eb6e56c8-b2cb-487a-8326-b48e2f329894",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "light",
            "value": "#FFFFFF"
          }
        }
      ]
    },
    {
      "contentTypeKey": "599aa5d8-762e-4f6d-a57d-e60ab81771fa",
      "key": "4ccbf27f-6a22-4e8b-adfb-e90fe4f7a5e8",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "gray-light",
            "value": "#F7F7F7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b130a289-49ca-410f-8038-e1c284e6a9ae",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d1345b0f-2d8f-40fd-beed-7947e56ee50d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b130a289-49ca-410f-8038-e1c284e6a9ae",
        "contentUdi": null,
        "settingsKey": "eb6e56c8-b2cb-487a-8326-b48e2f329894",
        "settingsUdi": null
      },
      {
        "contentKey": "d1345b0f-2d8f-40fd-beed-7947e56ee50d",
        "contentUdi": null,
        "settingsKey": "4ccbf27f-6a22-4e8b-adfb-e90fe4f7a5e8",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>