<?xml version="1.0" encoding="utf-8"?>
<Content Key="93a13cd3-d6ff-4d5a-8d46-1424488a0562" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-28T10:31:26</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </address>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting
Risk Management
Investment Planning]]></Value>
    </callbackRequestOption>
    <email>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </email>
    <logosList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1daa27b3-0be1-446a-9488-6781f835dbba",
      "key": "93b7e30f-e1cb-4256-88d2-a6d4a82b1ed7",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Freedom Bird"
        },
        {
          "alias": "logo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "83dd9c0c-dd45-446c-98c0-f7165e2d7c8f",
              "mediaKey": "e5dd484c-c151-48ce-ad4a-830e785c8f4c",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "1daa27b3-0be1-446a-9488-6781f835dbba",
      "key": "465c5aad-7b95-443b-865b-153862c72525",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Identity"
        },
        {
          "alias": "logo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "505530b8-5484-4e81-b122-53cd9640c6f8",
              "mediaKey": "498f3b77-56c6-4814-979a-e28bf8c496a3",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "1daa27b3-0be1-446a-9488-6781f835dbba",
      "key": "94c793e0-fafe-4ce0-9f08-d8a18cb05683",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Natural"
        },
        {
          "alias": "logo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7dd914b7-7126-454c-a6ce-3778f70eaa0f",
              "mediaKey": "825fed46-d000-437f-bcdd-5413fb075b79",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "1daa27b3-0be1-446a-9488-6781f835dbba",
      "key": "2f439e9a-fb6f-411f-b3a6-5148f830fceb",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SimpleLeaf"
        },
        {
          "alias": "logo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1b31e530-ad8b-4af4-b5f4-dadd78b79a27",
              "mediaKey": "307312b4-56a0-4ea6-9e8c-8022c7e6845c",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "1daa27b3-0be1-446a-9488-6781f835dbba",
      "key": "5d918db3-449f-46bc-8f10-b9ff30ec3e06",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Globe"
        },
        {
          "alias": "logo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8ae12487-8b59-484b-9ab1-1665991fba46",
              "mediaKey": "9add21cb-d9e1-4993-bef5-f6228a834ed6",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "1daa27b3-0be1-446a-9488-6781f835dbba",
      "key": "50e8f9da-7d3d-499e-a2f4-4b42ddcb8877",
      "udi": null,
      "values": [
        {
          "alias": "partnerName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "FossilGroup"
        },
        {
          "alias": "logo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "17d02e67-4666-41dd-9024-63e0dc969728",
              "mediaKey": "600adedd-4ca5-4ee7-b725-d9ba36f72406",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "93b7e30f-e1cb-4256-88d2-a6d4a82b1ed7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "465c5aad-7b95-443b-865b-153862c72525",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "94c793e0-fafe-4ce0-9f08-d8a18cb05683",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2f439e9a-fb6f-411f-b3a6-5148f830fceb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5d918db3-449f-46bc-8f10-b9ff30ec3e06",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "50e8f9da-7d3d-499e-a2f4-4b42ddcb8877",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "93b7e30f-e1cb-4256-88d2-a6d4a82b1ed7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "465c5aad-7b95-443b-865b-153862c72525",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "94c793e0-fafe-4ce0-9f08-d8a18cb05683",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "2f439e9a-fb6f-411f-b3a6-5148f830fceb",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "5d918db3-449f-46bc-8f10-b9ff30ec3e06",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "50e8f9da-7d3d-499e-a2f4-4b42ddcb8877",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </logosList>
    <phone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </phone>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "6a3764db-7fb6-43a1-98a6-481707044e64",
    "mediaKey": "8bdcd332-ddca-4396-bc27-fcd23e5eb6a6",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <socialLinks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b7724b7b-4ae9-457b-903b-eed9d83d8f9b",
      "key": "c6411322-fbde-4ab0-9cda-0debc3cad907",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Facebook"
        },
        {
          "alias": "platformUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        },
        {
          "alias": "platformIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "fdb3ba16-d374-4314-bf0d-3e5a073ba0bc",
              "mediaKey": "0d7b6434-b5a7-4723-8545-371b42da741f",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b7724b7b-4ae9-457b-903b-eed9d83d8f9b",
      "key": "73cc2d5b-8321-45a1-87ac-518b0d4f1d8f",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Twitter"
        },
        {
          "alias": "platformUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.x.com"
        },
        {
          "alias": "platformIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0e3e8051-f242-4e3e-b5aa-578ba90345a1",
              "mediaKey": "fcfabf62-8d78-476c-8e64-00a3057f5109",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b7724b7b-4ae9-457b-903b-eed9d83d8f9b",
      "key": "4172009d-c766-46f9-b307-05ba229e95a9",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "LinkedIn"
        },
        {
          "alias": "platformUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        },
        {
          "alias": "platformIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "19fd11cc-d5e2-4c50-9c10-0955f7a40854",
              "mediaKey": "27d54547-b3a6-411c-a773-fcb4ef49ce7c",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c6411322-fbde-4ab0-9cda-0debc3cad907",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "73cc2d5b-8321-45a1-87ac-518b0d4f1d8f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4172009d-c766-46f9-b307-05ba229e95a9",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c6411322-fbde-4ab0-9cda-0debc3cad907",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "73cc2d5b-8321-45a1-87ac-518b0d4f1d8f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4172009d-c766-46f9-b307-05ba229e95a9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialLinks>
  </Properties>
</Content>