<?xml version="1.0" encoding="utf-8"?>
<Content Key="00a02cb3-aa87-4285-8853-8639e6002915" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="72206f9a-fdcf-47c5-8cfe-7adb2cf8beb1">Services</Parent>
    <Path>/Onatrix/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-29T09:16:58</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="abde4e0d-5487-446b-b1ac-3d9d941b7f86">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailImage>
      <Value><![CDATA[[
  {
    "key": "eeff4649-1a51-4a92-91bb-42b7ef89a93c",
    "mediaKey": "1115e2d4-99e2-4ea4-a399-86f6332e118d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailImage>
    <serviceDetailText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailText>
  </Properties>
</Content>