<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2aee9cd-81d1-4dcb-a82a-2166861ced84" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="72206f9a-fdcf-47c5-8cfe-7adb2cf8beb1">Services</Parent>
    <Path>/Onatrix/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-29T09:18:10</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="abde4e0d-5487-446b-b1ac-3d9d941b7f86">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailImage>
      <Value><![CDATA[[
  {
    "key": "8ffbb83b-c5b2-42ea-a018-49a8dec7d956",
    "mediaKey": "9fade8f0-016f-4a9e-ae6c-2d71ce3f3c0d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailImage>
    <serviceDetailText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailText>
  </Properties>
</Content>