@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Onatrix_assignment.ViewModels
@{
    var content = (ContentModels.QuestionFormSection)Model.Content;
}

<section id="question-form ">
    <div class="custom-container my-20 px-4">
        <h3 class="text-[1.562rem] text-primary font-bold mb-5">@content.FormTitle</h3>
        
        <partial name="Partials/Forms/_QuestionForm" model="new QuestionFormViewModel()" />

        @if (TempData["FormSuccess"] != null)
        {
            <div class="flex justify-center mt-4">
                <div class="rounded-xl border border-green-200 bg-green-50 px-6 py-3 text-green-800 shadow-sm text-center">
                    <span>@TempData["FormSuccess"]</span>
                </div>
            </div>
        }
        else if (TempData["FormError"] != null)
        {
            <div class="flex justify-center mt-4">
                <div class="rounded-xl border border-red-200 bg-red-50 px-4 py-3 text-red-800 shadow-sm mx-6">
                    <span>@TempData["FormError"]</span>
                </div>
            </div>
        }

    </div>
</section>
