
<footer id="footer" class="bg-dark py-[1.2rem]">
    <div class="custom-container px-4">
        <p class="text-primary text-xs md:text-sm">© Onatrix. All Rights Reserved. Credits to <a href="#" class="text-secondary text-xs md:text-sm">Themesflat</a></p>
    </div>
</footer>
