<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0ba32602-89df-4406-ae5c-c372dd6dd2b4" Alias="CallbackRequestOptions" Level="1">
  <Info>
    <Name>CallbackRequestOptions</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>