<?xml version="1.0" encoding="utf-8"?>
<DataType Key="961015eb-779e-41fe-b6d6-29dae6ba5c8c" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "14ed2f14-60a7-4103-91f3-b9a7dffe6fe4"
    },
    {
      "contentElementTypeKey": "1eab56f9-8720-42e4-8633-767a3551a81e"
    },
    {
      "contentElementTypeKey": "3d70396b-26bb-404a-b510-226f8bd39646",
      "settingsElementTypeKey": "dcf42f16-1cfe-4d59-b38a-7cd044f578a3"
    },
    {
      "contentElementTypeKey": "5279b074-6e45-47d6-afc2-66e5a5a26d8c"
    },
    {
      "contentElementTypeKey": "38914e9a-2f31-4e18-b78d-3498443fd059"
    },
    {
      "contentElementTypeKey": "779b2a53-b388-4dc0-9247-ece4b1508685"
    },
    {
      "contentElementTypeKey": "7d4a4f69-6af0-4dd3-b849-419550f6f986",
      "settingsElementTypeKey": "599aa5d8-762e-4f6d-a57d-e60ab81771fa"
    },
    {
      "contentElementTypeKey": "7d68e96e-3f5d-4f45-a335-33fe820e573d"
    },
    {
      "contentElementTypeKey": "4b48b1bb-4749-45c6-845d-87bce54f171f"
    },
    {
      "contentElementTypeKey": "8c040cd3-2f1f-49f9-b8aa-141d6a63926e"
    },
    {
      "contentElementTypeKey": "3adbff23-64ad-4147-a27f-a9443fd3db8a"
    },
    {
      "contentElementTypeKey": "6b6c04e8-8b2d-4d41-af58-936632f8cb11"
    }
  ]
}]]></Config>
</DataType>