<?xml version="1.0" encoding="utf-8"?>
<DataType Key="04e43e86-c29c-4716-9101-08a0537e1215" Alias="Partner Section - Partners List" Level="1">
  <Info>
    <Name>Partner Section - Partners List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>