<?xml version="1.0" encoding="utf-8"?>
<DataType Key="34a6d1de-dbcf-401f-af93-595aa34beb5d" Alias="Service Detail - Service Detail Asides " Level="1">
  <Info>
    <Name>Service Detail - Service Detail Asides </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5202fd40-3de5-4e6b-a4ed-5c622bb15018"
    },
    {
      "contentElementTypeKey": "7ead68d1-6683-4d08-b617-253d783d323b"
    }
  ]
}]]></Config>
</DataType>