<?xml version="1.0" encoding="utf-8"?>
<DataType Key="15decb32-701a-4aae-92f8-637d0370b875" Alias="Site Settings - Partner Logos" Level="1">
  <Info>
    <Name>Site Settings - Partner Logos</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1daa27b3-0be1-446a-9488-6781f835dbba",
      "label": "{umbValue: partnerName}"
    }
  ]
}]]></Config>
</DataType>