<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6450cdb3-8421-4d9b-88e5-0429bcaaa0c9" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "afb0d15c-f338-48d2-a251-56bb72c21d44",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>