<?xml version="1.0" encoding="utf-8"?>
<Media Key="4368185b-f2cd-47c1-b776-1ac91c4ed0f1" Alias="Aaron-Lambert.svg" Level="2">
  <Info>
    <Parent Key="472b1ba6-666b-424f-b9d8-08855841be6a">Team Members</Parent>
    <Path>/TeamMembers/AaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T10:46:20</CreateDate>
    <NodeName Default="Aaron-Lambert.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vgsnviow/image-104-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>