<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7ba6b37-cb13-426a-89f1-eb0b3cb49ab8" Alias="AJ-Carter.svg" Level="2">
  <Info>
    <Parent Key="472b1ba6-666b-424f-b9d8-08855841be6a">Team Members</Parent>
    <Path>/TeamMembers/AJCartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T10:46:20</CreateDate>
    <NodeName Default="AJ-Carter.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yxlbqbii/image-106-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>