<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a66c18a-1b34-45b4-9283-4012826d06db" Alias="AsideInfoImg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AsideInfoImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T13:04:37</CreateDate>
    <NodeName Default="AsideInfoImg.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pb4mj4bp/image-24-min-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>