<?xml version="1.0" encoding="utf-8"?>
<Media Key="366a51ae-0964-4389-a242-eed9e56303de" Alias="Assurance-&amp;-Audits.svg" Level="2">
  <Info>
    <Parent Key="fd33ce4b-44bc-41a8-bd3d-a464bb8c802b">Services</Parent>
    <Path>/Services/AssuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T09:16:37</CreateDate>
    <NodeName Default="Assurance-&amp;-Audits.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ltwmrvd5/image-13-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>