<?xml version="1.0" encoding="utf-8"?>
<Media Key="81b9a6f9-9d93-4129-8f89-d14dc93a463c" Alias="Brandon-Kerr.svg" Level="2">
  <Info>
    <Parent Key="472b1ba6-666b-424f-b9d8-08855841be6a">Team Members</Parent>
    <Path>/TeamMembers/BrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T10:46:21</CreateDate>
    <NodeName Default="Brandon-Kerr.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bmnbwy2i/mask-group-8-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>