<?xml version="1.0" encoding="utf-8"?>
<Media Key="8138e3c9-e589-4e1c-851e-07f5f4f82294" Alias="Brandon-Newton.svg" Level="2">
  <Info>
    <Parent Key="472b1ba6-666b-424f-b9d8-08855841be6a">Team Members</Parent>
    <Path>/TeamMembers/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T10:46:21</CreateDate>
    <NodeName Default="Brandon-Newton.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hnpjuy2s/image-47-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>