<?xml version="1.0" encoding="utf-8"?>
<Media Key="0514bafd-556a-4711-9578-55dc14799d51" Alias="ChooseUs.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ChooseUssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T12:40:29</CreateDate>
    <NodeName Default="ChooseUs.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b2dlnz1r/img-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>