<?xml version="1.0" encoding="utf-8"?>
<Media Key="d280700e-2abd-4fc4-993c-f953151754e4" Alias="Component 2.svg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Component2svg</Path>
    <Trashed Parent="1e802e44-ef29-4e60-b17b-d35703581022">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:35:12</CreateDate>
    <NodeName Default="Component 2.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5tgdemfg/component-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>