<?xml version="1.0" encoding="utf-8"?>
<Media Key="c17733d8-7628-4e16-b270-f06294317b37" Alias="ContactMan.svg" Level="2">
  <Info>
    <Parent Key="1e802e44-ef29-4e60-b17b-d35703581022">Contact Section</Parent>
    <Path>/ContactSection/ContactMansvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:35:12</CreateDate>
    <NodeName Default="ContactMan.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fkhnkizt/img-5-e1695109900349-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>