<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e802e44-ef29-4e60-b17b-d35703581022" Alias="Contact Section" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-30T13:34:50</CreateDate>
    <NodeName Default="Contact Section" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>