<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd1fd3e1-65ea-4054-a105-c7b017fc055b" Alias="dot-map1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dotMap1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T11:43:43</CreateDate>
    <NodeName Default="dot-map1.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cnxl0h5r/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>