<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d7b6434-b5a7-4723-8545-371b42da741f" Alias="Facebook.svg" Level="2">
  <Info>
    <Parent Key="190f49f9-a83f-4c05-9acc-5245fa821a41">Social Media Icons</Parent>
    <Path>/SocialMediaIcons/Facebooksvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T10:31:09</CreateDate>
    <NodeName Default="Facebook.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y1mnt132/icon-facebook.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>