<?xml version="1.0" encoding="utf-8"?>
<Media Key="8188b714-9bd3-4011-bed6-d0cec23f67d3" Alias="Financial-Advisor.svg" Level="2">
  <Info>
    <Parent Key="fd33ce4b-44bc-41a8-bd3d-a464bb8c802b">Services</Parent>
    <Path>/Services/FinancialAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T09:16:37</CreateDate>
    <NodeName Default="Financial-Advisor.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2yfcuy4i/image-23-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>