<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7338d05-eda6-466e-8171-676f67759515" Alias="FounderImg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FounderImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T09:01:16</CreateDate>
    <NodeName Default="FounderImg.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/42yjcnn3/img_choose_01_home01-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>