<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5dd484c-c151-48ce-ad4a-830e785c8f4c" Alias="FreedomBird.svg" Level="2">
  <Info>
    <Parent Key="361c3285-9668-46ab-90db-68e65c5fbd1c">Partners</Parent>
    <Path>/Partners/FreedomBirdsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T08:34:47</CreateDate>
    <NodeName Default="FreedomBird.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x10h4b0k/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>