<?xml version="1.0" encoding="utf-8"?>
<Media Key="951bdbfd-a9b4-4dc0-b429-2ead6cafdc38" Alias="HeroImg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T16:03:23</CreateDate>
    <NodeName Default="HeroImg.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b3tls33p/heroimg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>