<?xml version="1.0" encoding="utf-8"?>
<Media Key="3197a2e5-8382-441b-ae75-f218eb991616" Alias="Icon email.svg" Level="2">
  <Info>
    <Parent Key="1e802e44-ef29-4e60-b17b-d35703581022">Contact Section</Parent>
    <Path>/ContactSection/IconEmailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:35:12</CreateDate>
    <NodeName Default="Icon email.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c2pdlu2z/icon-email.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>