<?xml version="1.0" encoding="utf-8"?>
<Media Key="421859ca-fd6a-4a03-b350-5a274c7be575" Alias="Icon address.svg" Level="2">
  <Info>
    <Parent Key="1e802e44-ef29-4e60-b17b-d35703581022">Contact Section</Parent>
    <Path>/ContactSection/IconAddresssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:35:11</CreateDate>
    <NodeName Default="Icon address.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hdslvidr/icon-address.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>