<?xml version="1.0" encoding="utf-8"?>
<Media Key="4de05ffb-aabd-4338-afa9-ad5636d63ac3" Alias="Icon phone.svg" Level="2">
  <Info>
    <Parent Key="1e802e44-ef29-4e60-b17b-d35703581022">Contact Section</Parent>
    <Path>/ContactSection/IconPhonesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T13:35:12</CreateDate>
    <NodeName Default="Icon phone.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bhrefl3g/icon-phone.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>