<?xml version="1.0" encoding="utf-8"?>
<Media Key="69881ed2-2d6c-4e38-971d-ba7b81dd0598" Alias="kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T10:14:51</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ecrdvc1x/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>