<?xml version="1.0" encoding="utf-8"?>
<Media Key="e6fff290-6d7e-4555-adca-57b0d53a309d" Alias="Kevin-Gardner2.svg" Level="2">
  <Info>
    <Parent Key="472b1ba6-666b-424f-b9d8-08855841be6a">Team Members</Parent>
    <Path>/TeamMembers/KevinGardner2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T10:46:21</CreateDate>
    <NodeName Default="Kevin-Gardner2.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mjhf0bdf/kevin-gardner-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>