<?xml version="1.0" encoding="utf-8"?>
<Media Key="27d54547-b3a6-411c-a773-fcb4ef49ce7c" Alias="LinkedIn.svg" Level="2">
  <Info>
    <Parent Key="190f49f9-a83f-4c05-9acc-5245fa821a41">Social Media Icons</Parent>
    <Path>/SocialMediaIcons/LinkedInsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T10:31:09</CreateDate>
    <NodeName Default="LinkedIn.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wx2hprn3/icon-pinterest.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>