<?xml version="1.0" encoding="utf-8"?>
<Media Key="501a9933-004f-4d17-b5fe-7d2bc08f2ea3" Alias="Miranda-Dayton.svg" Level="2">
  <Info>
    <Parent Key="472b1ba6-666b-424f-b9d8-08855841be6a">Team Members</Parent>
    <Path>/TeamMembers/MirandaDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T10:46:20</CreateDate>
    <NodeName Default="Miranda-Dayton.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yeslrmsu/img-4-2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>