<?xml version="1.0" encoding="utf-8"?>
<Media Key="8bdcd332-ddca-4396-bc27-fcd23e5eb6a6" Alias="OnatrixLogo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnatrixLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T10:28:28</CreateDate>
    <NodeName Default="OnatrixLogo.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ybxh20or/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>