<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5f691fa-c0b8-483b-b433-65df9b2f75a5" Alias="RiskImg2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskImg2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T14:34:37</CreateDate>
    <NodeName Default="RiskImg2.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bawfir3d/post2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>