<?xml version="1.0" encoding="utf-8"?>
<Media Key="a34fc7ce-242a-4cfd-a95d-759b0ce4c269" Alias="RiskImg1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskImg1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T14:29:46</CreateDate>
    <NodeName Default="RiskImg1.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hr3o0qjr/image-21-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>