<?xml version="1.0" encoding="utf-8"?>
<Media Key="134ece05-b554-4b1b-9929-651d51d7576d" Alias="Risk-Management.svg" Level="2">
  <Info>
    <Parent Key="fd33ce4b-44bc-41a8-bd3d-a464bb8c802b">Services</Parent>
    <Path>/Services/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T09:16:37</CreateDate>
    <NodeName Default="Risk-Management.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/43zpz2kp/image-21-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>