<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd33ce4b-44bc-41a8-bd3d-a464bb8c802b" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-29T09:16:12</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>