<?xml version="1.0" encoding="utf-8"?>
<Media Key="90cc9471-dfe0-45bf-bfe5-9ef9790ef9d5" Alias="Signature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Signaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T14:58:39</CreateDate>
    <NodeName Default="Signature.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qmuh22x1/onlinesignaturesnet-302-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>