<?xml version="1.0" encoding="utf-8"?>
<Media Key="190f49f9-a83f-4c05-9acc-5245fa821a41" Alias="Social Media Icons" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SocialMediaIcons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-28T10:30:56</CreateDate>
    <NodeName Default="Social Media Icons" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>