<?xml version="1.0" encoding="utf-8"?>
<Media Key="1115e2d4-99e2-4ea4-a399-86f6332e118d" Alias="Statistic-Advisors.svg" Level="2">
  <Info>
    <Parent Key="fd33ce4b-44bc-41a8-bd3d-a464bb8c802b">Services</Parent>
    <Path>/Services/StatisticAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T09:16:37</CreateDate>
    <NodeName Default="Statistic-Advisors.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ezplp25z/image-24-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>