<?xml version="1.0" encoding="utf-8"?>
<Media Key="259b0b8d-810d-4a02-8748-442290b738db" Alias="SuccessStoryBgImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SuccessStoryBgImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T16:01:02</CreateDate>
    <NodeName Default="SuccessStoryBgImage.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/p41dtryw/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>