<?xml version="1.0" encoding="utf-8"?>
<Media Key="9fade8f0-016f-4a9e-ae6c-2d71ce3f3c0d" Alias="Tax-and-Trusts.svg" Level="2">
  <Info>
    <Parent Key="fd33ce4b-44bc-41a8-bd3d-a464bb8c802b">Services</Parent>
    <Path>/Services/TaxAndTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T09:16:37</CreateDate>
    <NodeName Default="Tax-and-Trusts.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ajkb45lu/image-22-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>