<?xml version="1.0" encoding="utf-8"?>
<Media Key="472b1ba6-666b-424f-b9d8-08855841be6a" Alias="Team Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-31T10:45:34</CreateDate>
    <NodeName Default="Team Members" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties />
</Media>