<?xml version="1.0" encoding="utf-8"?>
<Media Key="88d4e60f-f8e1-40e9-b184-d7058805d73b" Alias="Tina-Fox.svg" Level="2">
  <Info>
    <Parent Key="472b1ba6-666b-424f-b9d8-08855841be6a">Team Members</Parent>
    <Path>/TeamMembers/TinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T10:46:21</CreateDate>
    <NodeName Default="Tina-Fox.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5vnhm0x0/img_choose_01_home01-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>