<?xml version="1.0" encoding="utf-8"?>
<Media Key="fcfabf62-8d78-476c-8e64-00a3057f5109" Alias="Twitter.svg" Level="2">
  <Info>
    <Parent Key="190f49f9-a83f-4c05-9acc-5245fa821a41">Social Media Icons</Parent>
    <Path>/SocialMediaIcons/Twittersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T10:31:09</CreateDate>
    <NodeName Default="Twitter.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sabfqhtd/icon-twitter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>